<!-- Page Content -->
<div class="container">
  <%if flash[:confirmation]%>
  <%=flash[:confirmation]%>
  <%end%>

  <%if flash[:request_not_sent]%>
    <%=flash[:request_not_sent]%>
    <%end%>

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
      <h1><span>Welcome to SpacesBnB!</span></h1>
      <h3><span>Find below the available spaces to hire</span></h3>
      <img class='image-rounded'src='images/sloth.gif'></img>
        <p><a class="button btn btn-primary btn-large" href='https://youtu.be/I1188GO4p1E' target='_blank' >Get shwifty</a>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <div class='panel panel-danger'>
            <div class="panel-heading"><h1>Spaces</h1></div>
            <h3>Choose the day you would like to book:</h3>
            <form action='/filtered-spaces' method='post'>
            <label for='start_date'>
              <span class='label label-danger'>Which day would you like to stay?</span>
              <input type='date' name='start_date'>
            </label>
            <br>
            <label for='end_date'>
              <span class='label label-danger'>End date:</span>
              <input type='date' name='end_date'>
            </label>
            <br>
            <input class='button' type='submit' value='Filter available spaces'>
          </form>
          </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-lg-12 hero-feature">
          <% @spaces.each do |space| %>
            <div class="thumbnail">
                <img class='image-rounded' src="/images/treehouse.jpg" alt="treehouse">
                <div class="caption">
                    <h3><%= space.space_name %></h3>
                    <p><%= space.space_description %></p>
                    <p>£<%= space.price %> per night </p>
                </div>
                <a href='/spaces/<%= space.space_name %> '><button class='button'>Visit space</button></a>
            </div>
            <% end %>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Makers BnB </p>
            </div>
        </div>
    </footer>
</div>
