<div class="panel panel-danger">
  <div class="panel-heading">
    <h1><%= @space.space_name %></h1></div>
    <div class="individual-boxes">
      <h3 class='describe'> Description:</h3>
      <div class='smaller-individual-boxes'>
      <h4><%= @space.space_description %></h4>
      <p>Price/night: £<%= @space.price %></p>
      <div class=''>
      <h5>Availability date ranges:</h5>
      <p><%= @space.start_date %> - <%= @space.end_date %></p>
    </div>
      <% if current_user %>
      <form action='/requests' method='post'>
          <input type="hidden" name="space_id" value="<%= @space.id %>">
          <button class='button'>Send booking request</button>
      </form>
      <% else %>
      <h4> You must be logged in to make a booking request! </h4>
      <p><a class="button" href="/sessions/new">Log me in!</a></p>
      <% end %>
    </div>
  </div>
</div>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Team Project @ Makers Academy</p>
      </div>
    </div>
  </footer>
