
<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= @space.space_name  %></h1></div>
    <div class="panel-body" width=50%>
      <h3> Description:<br/><br/> </h3> <p><%= @space.space_description %> </p>
      <h3> Price/night: £<%= @space.price %> </h3>
      <div class='panel panel-success' width=50%>
      <h3>Availability date ranges:</h3>
      <p> <%= @space.start_date %> - <%= @space.end_date %> </p>
      <form action='/requests' method='post'>
          <input type="hidden" name="space_id" value="<%= @space.id %>">
          <button> Send booking request </button>
      </form>
    </div>
  </div>
