<h3><%if flash[:request_sent]%></h3>
<h3><%=flash[:request_sent]%></h3>
<%end%>
<div class='row panel-danger col-lg-12'>

  <div class="panel-heading">
    <h1> Requests <h2>
    </div>
    <div class="individual-boxes-request col-md-5 text-center">
      <h3 class='describe'>Requests you've sent: </h3>
      <% @requests.each do |request| %>
      <% if current_user.id == request.user.id %>
      <div class='smaller-individual-boxes-request'>
        <h4><strong>Name:</strong></h4><h4><%= request.space.space_name %></h4>
        <h4>Date requested:</h4><h6><%= request.requested_date %></h6>
        <h4>Name of host: <%= request.space.user.username %></h4>
        <h4>Booking status:</h4><h5><%= request.booking_status %></h5>
      </div>
      <% end %>
      <% end %>
    </div>

    <div class="individual-boxes-request col-md-5 text-center">
      <h3 class='describe'>Requests you've received:</h3>
      <% @requests.each do |request| %>
      <% if current_user.username == request.space.user.username %>
      <div class='smaller-individual-boxes-request'>
        <h4><strong>Name:</strong></h4><h4> <%= request.space.space_name %></h4>
        <h4>Date requested:</h4><h6> <%= request.requested_date %></h6>
        <h4>Name of guest: <%= request.user.username %></h4>
        <h4>Booking status:</h4><h5><%= request.booking_status %></h5>
        <% if !request.confirmed %>
        <form action='/requests/confirm' method='post'>
          <input type="hidden" name="request_id" value="<%= request.id %>">
          <button class='button-small'>Confirm booking</button>
        </form>
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <footer>
        <p>Copyright &copy; Team Project @ Makers Academy</p>
      </footer>
    </div>
  </div>
