<%if flash[:request_sent]%>
<%=flash[:request_sent]%>
<%end%>

<h1> Requests <h2>


  <section class='col-md-3 col-sm-6 hero-feature'>
    <h2> Requests you've sent: </h2>
    <% @requests.each do |request| %>
    <% if current_user.id == request.user.id %>
    Name: <%= request.space.space_name %>
    Date requested: <%= request.requested_date %>
    Booking status: <%= request.booking_status %>
    <% end %>
    <% end %>
  </section>


  <section class='col-md-3 col-sm-6 hero-feature'>
    <h2> Requests you've received: </h2>
    <% @requests.each do |request| %>
    <% if current_user.username == request.space.user.username %>
    Name: <%= request.space.space_name %>
    Date requested: <%= request.requested_date %>
    Name of guest: <%= request.user.username %>
    Booking status: <%= request.booking_status %>
    <% if !request.confirmed %>
    <form action='/requests/confirm' method='post'>
      <input type="hidden" name="request_id" value="<%= request.id %>">
      <button> Confirm booking </button>
    </form>
    <% end %>
    <% end %>
    <% end %>

  </section>
